.table:hover {
    background: #eee;
}

#student {
    border: medium #482eb9 dotted;
    padding: 5px;
}

button {
    background-color: #2096f3;
    color: #fff;
    margin: 4px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}